## Importing libraries

In [1]:
import numpy as np
import pandas as pd
import scipy

## Loading data

In [2]:
df = pd.read_csv('Skewness Test.csv')

In [3]:
df.head()

   Dataset 1  Dataset 2
0        212        586
1        869        760
2        220        495
3        654        678
4        511        559

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Dataset 1  30 non-null     int64
 1   Dataset 2  30 non-null     int64
dtypes: int64(2)
memory usage: 608.0 bytes

In [5]:
df.describe()

        Dataset 1   Dataset 2
count   30.000000   30.000000
mean   370.033333  603.733333
std    263.961920  240.537177
min     48.000000  119.000000
25%    148.750000  501.750000
50%    339.000000  654.500000
75%    506.500000  767.500000
max    870.000000  995.000000

## Computing skewness (measures of asymmetry) using SciPy

In [6]:
from scipy.stats import skew

In [7]:
print(skew(df['Dataset 1'], axis=0, bias=False))

0.6309880119650573

**It signifies that the distribution is positively skewed or right-skewed.**

In [8]:
print(skew(df['Dataset 2'],axis=0,bias=False))

-0.37064131089909286

**It signifies that the distribution is negatively skewed or left-skewed.**